<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <application>
        <service android:name="hk.kaiboard.android.FakeVoiceService" android:exported="true"
            android:permission="android.permission.BIND_SPEECH_RECOGNITION_SERVICE">
            <intent-filter><action android:name="android.speech.RecognitionService" /></intent-filter>
        </service>
    </application>
</manifest>
